h1 {
  text-align: center;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  padding-top: 1rem;
}

.spacer-more {
  padding-top: 5vh;
}

table {
  width: 100%;
}

th {
  padding: 1rem;
}

th:not(:first-child) {
  cursor: pointer;
  border-bottom: 1px solid white;
}

td {
  text-align: center;
  padding: 1rem;
}

td:first-child {
  border-right: 1px solid white;
}

td:not(:first-child) {
  cursor: pointer;
}

.impossible {
  color: rgb(104, 104, 104);
}

.selected {
  color: rgb(72, 170, 69);
}

.deselected {
  color: rgb(119, 49, 49);
}

.name-spacer {
  padding-right: 5px;
}

.button-bar {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-reset {
  background-color: #191c25;
  color: white;
  border: 1px solid white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 1;
  height: 3rem;
}
